@import url('../base/variables.css');

#header {
  background-color: var(--bg-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: var(--border-muted);
  width: 100%;
  min-height: 60px;
  padding: 0 20px;
  gap: 30px;
}

.logo {
  width: 150px;
}

#nav-section {
  display: flex;
  align-items: center;
  gap: 30px;
}

#items-nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.item-nav {
  color: var(--text-main);
}

#profile-section {
  display: flex;
  margin-left: auto;
  align-items: center;
}
