@import url('../base/variables.css');

#header {
  background-color: var(--bg-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: var(--border-muted);
  width: 100%;
  min-height: 60px;
  padding: 0 20px;
  gap: 30px;
}

.logo {
  width: 150px;
}

#nav-section {
  display: flex;
  align-items: center;
  gap: 30px;
  color: var(--text-main);
}

#items-nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.item-nav {
  list-style: none;
}

#profile-section {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.item-nav::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--hover-matted);
  transition: width 0.35s ease;
}

.item-nav:hover::after {
  width: 100%;
  left: 0;
}
