:root {
  /* Цвета состояния фона */
  --bg-main: #0a0a0a;
  --bg-block: #050510;
  --bg-button: #7454f7;

  /* Цвета для текстов */
  --text-main: #fff;
  --text-muted: #8b8da1;

  /* Цвета для обводки */
  --border-muted: #8b8da1;

  /* Радиусы */
  --radius-item: 5px;
  --radius-items: 15px;

  /* цвет при навидении */
  --hover-main: #d2c6c6;
  --hover-matted: #7f829f;
}
