:root {
  /* Цвета состояния фона */
  --bg-main: #0a0a0a;
  --bg-block: #050510;
  --bg-button: #6746ea;
  --bg-but: #0040ff;

  /* Цвета для текстов */
  --text-main: #fff;
  --text-muted: #8b8da1;

  /* Цвета для обводки */
  --border-muted: #8b8da1;

  /* Радиусы */
  --radius-item: 25px;
  --radius-items: 5px;

  /* цвет при навидении */
  --hover-main: #d2c6c6;
  --hover-matted: #7f829f;
  --hover-but-blue: #1a53ff;
}
